<section>
    <article class="bg-danger p-3 d-flex justify-content-between align-items-center mb-2">
        <h3>Titulo de la tarea - prioridad: urgente</h3>
        <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
    </article>
    <article class="bg-primary p-3 d-flex justify-content-between align-items-center mb-2">
        <h3>Titulo de la tarea - prioridad: diaria</h3>
        <button class="btn btn-primary"><i class="fas fa-trash-alt"></i></button>
    </article>
    <article class="bg-success p-3 d-flex justify-content-between align-items-center mb-2">
        <h3>Titulo de la tarea - prioridad: mensual</h3>
        <button class="btn btn-success"><i class="fas fa-trash-alt"></i></button>
    </article>
</section>