<div class="form py-4">
    <div class="my-2">
        <label for="search" class="form-label">Buscador</label>
        <input type="text" class="form-control" id="seacrh" placeholder="Introduce titulo tarea a buscar" (input)="capturarBusqueda($event)">
    </div>
    <div class="my-2">
        <label for="priority" class="form-label">Filtro por Prioridad</label>
        <select class="form-select" id="priority" (change)="filtrarPrioridad($event)">
            <option value="" selected>Selecciona una prioridad</option>
            <option value="urgente">Urgente</option>
            <option value="diaria">Diaria</option>
            <option value="mensual">Mensual</option>
        </select>
    </div>
</div>