<div class="container">
  <header class="row">
    <div class="col-6">
      <!-- form -->
      <app-form (nvaTarea)="onGuardarTarea($event)"></app-form>
    </div>
    <div class="col-6">
      <!-- filtros -->
      <app-filtros (prioridadEnviada)="onFiltrarPrioridad($event)" (busquedaEnviada)="onBusqueda($event)"></app-filtros>
    </div>
  </header>
  <main>
    <!-- listatareas -->
    <app-listatareas [tareas]="arrTareas" [prioridad]="prioridad" [busqueda]="busqueda" (tareaBorrada)="onDeleteTarea($event)"></app-listatareas>
  </main>
</div>